@tailwind base;
@tailwind components;
@tailwind utilities;

.hero {
  background-position: center;
  background-size: cover;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.d {
  outline: 1px solid red;
}

.animate {
  animation: scaleup 30s ease-in-out infinite;
  object-position: bottom;
}

.process-card::before {
  content: "";
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.07),
    transparent 40%
  );
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 0.5rem;
  top: 0px;
  left: 0px;
  opacity: 0;
  transition: opacity 150ms;
  /* background: red; */
  z-index: 5;
}

.card-border {
  background: radial-gradient(
    400px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.5),
    transparent 40%
  );

  position: absolute;
  border-radius: 0.5rem;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.process-card:hover:before {
  opacity: 1;
}

.actor-container {
  /* height: 60px; */
  height: calc(var(--child-h) * var(--rows) * 3);
}
@keyframes scaleup {
  0% {
    transform: scale(1); /* Starting scale (normal size) */
  }
  50% {
    transform: scale(1.1); /* Zoomed in */
  }
  100% {
    transform: scale(1); /* Back to normal size */
  }
}

@media (min-width: 640px) {
  .sm\:text-left {
    text-align: left;
  }
}
@media (min-width: 768px) {
  .actor-container {
    /* height: 60px; */
    height: calc(var(--child-h) * (var(--rows) + 1));
  }
}
@media (min-width: 1024px) {
  .lg\:text-left {
    text-align: left;
  }
}
